/* General Styling */
body {
    background-color: #000000; /* Black background color */
    color: white;
    font-family: Verdana, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Header Section */
header h1 {
    font-size: 50px;
    font-weight: normal;
    color: white;
    margin-top: 50px;
}

header .download-link {
    color: aquamarine;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10